SPRING_PROFILES_ACTIVE=local
PORT=8080
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/myfin_db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=123456
JWT_SECRET=replace-with-a-long-random-secret-at-least-32-characters
JWT_ISSUER=myfin-app
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=2592000000
SECURITY_COOKIE_SECURE=false
SECURITY_COOKIE_SAME_SITE=Strict
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000

# Optional for Flyway Maven plugin
flyway.url=${SPRING_DATASOURCE_URL}
flyway.user=${SPRING_DATASOURCE_USERNAME}
flyway.password=${SPRING_DATASOURCE_PASSWORD}
